__pycache__/*
datasets/lfw/*
datasets/lfw_cropped/*
datasets/lfw_sampled/*
utils/__pycache__/*
common/resnet_model.pth
BFM/BFM.mat
common/shape_predictor_68_face_landmarks.dat
common/shape_predictor_81_face_landmarks.dat
results_img/*